<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, Everyone!</h1>
      <p class="lead">Dev Books bookstore is a sample application used to learn the fundamentals of building Angular 2 applications. </p>
      <hr class="my-4">
      <p>Find out more about all the books we have in stock.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" [routerLink]="['/books']" role="button">All Books</a>
      </p>
    </div>
  </div>
</div>