<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <img src="./app/assets/images/logo.jpg"
                 class="img-responsive center-block"
                 id="logo"/>
        </div>
        <div class="row"  >
            <div class="text-center">Developed by:</div>
            <h3 class="text-center">Patrick Schroeder</h3>

            <div class="text-center">
                <a href="http://www.jswiz.net">JsWiz.net</a>
            </div>
        </div>
    </div>
</div>