<div class="container">
        <section id="products">
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <img src="img/656.jpg">
              <div class="caption">
                <h4 class="pull-right">
                  $19.95
                </h4>
                <h4><a href="product.html">War and Peace</a></h4>
                <p><b>Author: </b>Leo Tolstoy</p>
                </div>
                <div class="ratings">
                  <p class="pull-right">15 Reviews</p>
                  <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                  </p>
                </div>
              </div>
            </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <img src="img/5907.jpg">
              <div class="caption">
                <h4 class="pull-right">
                  $14.95
                </h4>
                <h4><a href="product.html">The Hobbit</a></h4>
                <p><b>Author: </b>J.R.R. Tolkien</p>
                </div>
                <div class="ratings">
                  <p class="pull-right">8 Reviews</p>
                  <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                  </p>
                </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <img src="img/107291.jpg">
              <div class="caption">
                <h4 class="pull-right">
                  $9.95
                </h4>
                <h4><a href="product.html">Needful Things</a></h4>
                <p><b>Author: </b>Stephen King</p>
                </div>
                <div class="ratings">
                  <p class="pull-right">4 Reviews</p>
                  <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                  </p>
                </div>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <img src="img/2657.jpg">
              <div class="caption">
                <h4 class="pull-right">
                  $8.95
                </h4>
                <h4><a href="product.html">To Kill a Mockingbird</a></h4>
                <p><b>Author: </b>Harper Lee</p>
                </div>
                <div class="ratings">
                  <p class="pull-right">15 Reviews</p>
                  <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                  </p>
                </div>
              </div>
            </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <img src="img/16213.jpg">
              <div class="caption">
                <h4 class="pull-right">
                  $11.95
                </h4>
                <h4><a href="product.html">The Hot Zone</a></h4>
                <p><b>Author: </b>Richard Preston</p>
                </div>
                <div class="ratings">
                  <p class="pull-right">22 Reviews</p>
                  <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                  </p>
                </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <img src="img/2095.jpg">
              <div class="caption">
                <h4 class="pull-right">
                  $14.95
                </h4>
                <h4><a href="product.html">The Universe in a Nutshell</a></h4>
                <p><b>Author: </b>Stephen Hawking</p>
                </div>
                <div class="ratings">
                  <p class="pull-right">14 Reviews</p>
                  <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                  </p>
                </div>
              </div>
          </div>
        </div>
      </section>
</div>